@import "bootstrap";

h2,
h3 {
  margin-top: 2rem;
}

.logo,
.lead {
  margin-top: 2rem;
}
.logo {
  height: 18pt;
}

@keyframes highlight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: initial;
  }
}

.highlight {
  animation-duration: 0.8s;
  animation-name: highlight;
}
