@import "bootstrap";

h2,
h3 {
  margin-top: 3rem;
}

.logo,
.lead {
  margin-top: 2rem;
}
.logo {
  height: 35pt;
}

@keyframes highlight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: initial;
  }
}

.fade-in {
  animation-duration: 1s;
  animation-name: highlight;
}
